.hero-section {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.lexgend-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.animate-slot-machine {
  animation: spinWords 10s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
}

@keyframes spinWords {
  0%, 10% { transform: translateY(0); }
  16.66%, 26.66% { transform: translateY(-14.285%); }
  33.33%, 43.33% { transform: translateY(-28.571%); }
  50%, 60% { transform: translateY(-42.857%); }
  66.66%, 76.66% { transform: translateY(-57.142%); }
  83.33%, 93.33% { transform: translateY(-71.428%); }
  100% { transform: translateY(-85.714%); }
}